.barInsert-manager {
    height: 100%;

    &__filter {
        display: flex;
        margin-bottom: 24px;
        align-items: baseline;
        width: 100%;
        &-code{
            width: 23%;
            margin-right: 20px;     
        }
        &-name{
            width: 23%;
            margin-right: 20px;     
        }
        &-position{
            margin-right: 20px;
            width: 23%;
            text-align: left;
            &-lable{
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: bold;
            }
            &-select{
                width: 100%;
                background-color: antiquewhite;
            }
        }
        &-date{
            text-align: left;
            width: 23%;
        }
    
    }
    &__button{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        &-search {
            margin-right: 20px;
        }
        &-create-new {
        }
        &-position{
            margin-right: 20px;
        }
    }

    &__content{
        height: calc(100% - 150px);
    }
    &__popup{
        &-intoMoney{
            &-lable{
                font-size: 16px;
                font-weight: bold;
            }
            
        }
        
    }
}