.area-detail {
    height: 100%;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        height: 36px;

        &-back{
            margin-right: 8px;
            cursor: pointer;
        }

        &-name {
            display: flex;
            align-items: center;

            &-value {
                margin-left: 24px;
                font-weight: bold;
            }
        }

        &-button {
            margin-left: auto;
            display: flex;

            &-save{
                margin-right: 16px;
            }
        }
    }

    &__content {
        background-color: #fff;
        width: 1000px;
        height: 500px;
        margin: 24px auto 0 auto;
        position: relative;

        &-drag {
            width: 1000px;
            height: 500px;
            margin: 0px auto 0 auto;
            position: absolute;
            top: 0;
            padding: 8px;

            &-item{
                width: 100px;
                height: 100px;
                border: 1px solid #000;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}

.add-table{
    &__item{
        margin-bottom: 16px;
    }
}