.categorymenu-manager {
    height: 100%;

    &__filter {
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        align-items: center;

        &-create {
            margin-left: auto;
        }
        
    }
    &__button{
        display: flex;
        justify-content: right;
        margin-bottom: 20px;
        
    }

    &__content{
        height: calc(100% - 60px);
    }
}