.spending-manager {
  height: 100%;

  &__filter {
    display: flex;
    margin-bottom: 24px;
    &-search {
      width: 100%;
      display: flex;
      &-name {
        width: 30%;
        margin-right: 20px;
      }
      &-date {
        width: 30%;
      }
    }

    &-create-new {
      margin-left: auto;
    }
  }

  &__popup {
    &-bill {
      margin-bottom: 16px;
    }

    &-items {
      display: flex;
      width: 100%;

      &-name {
        margin-right: 15px;
        width: 30%;
      }

      &-unit {
        margin-right: 15px;
        width: 20%;
      }

      &-amount {
        margin-right: 15px;
        width: 20%;
      }

      &-unitPrice {
        width: 20%;
      }

      &-delete {
        padding-top: 40px;
        margin-left: 10px;
      }
    }
  }

  &__content {
    height: calc(100% - 60px);
  }
}
