.kitchensDay-manager {
    height: 100%;

    &__filter {
        display: flex;
        margin-bottom: 24px;
        align-items: end;
        &-search{
            width: 40%;
        }

        &-create-new {
            margin-left: auto;
        }
    }

    &__popup {
        &-bill {
            margin-bottom: 16px;
        }

        &-items {
            display: flex;
            width: 100%;

            &-name {
                margin-right: 15px;
                width: 40%;
            }

            &-unit {
                margin-right: 15px;
                width: 25%;
            }

            &-amount {
                margin-right: 15px;
                width: 25%;
            }

            &-delete {
                padding-top: 40px;
                margin-left: 10px;
            }
        }
    }

    &__content {
        height: calc(100% - 60px);
    }
}