

.datn-login-system{
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,0.7);
  }
  .datn-login-system__container{
    width: 400px;
    margin: 0px auto;
    padding: 200px 0 0 0;
  }
  .header{
    padding: 0 0 50px 0;
    color: #fff;
    font-size: 30px;
  }
  .header span{ 
    border-bottom: 5px solid #27ae60;
    padding: 0 0 5px 0;
  }
  .input{
    border-bottom: 2px solid #27ae60;
    padding: 15px 0 0 0;
  }
  .input input{
    width: 95%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
  }
  .input i{
    padding: 0 2px 0 0;
    color: #fff;
    font-size: 16px;
  }
  .submit{
    padding: 20px 0 0 0;
  }
  .submit input{
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 17px;
    background: none;
    border: 2px solid #27ae60;
    color: #fff;
    cursor: pointer;
  }