.kitchensDayDetail-manager {
    &__item {
        text-align: left;
        margin-bottom: 20px;
        display: flex;
        &-lable {
            width: 200px;
        }

        &-content {
            font-weight: bold;
        }

        &-back{
            font-weight: bold;
            text-decoration: underline;
        }
    }
    &__table{
        text-align: left;
        margin-bottom: 10px;
        &-title{
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 17px;
        }

    }
}