.feedback-container {
    &__banner {
        height: 300px;
        background-repeat: no-repeat;
    }

    &__book{
        padding: 0 15%;
        display: flex;
        margin-top: 50px;

        &-left{
            width: 50%;
            font-size: 18px;
            text-align: left;

            &-label{
                font-family: Cursive;
                font-size: 35px;
            }

            &-info{
                margin-top: 24px;
                &-address{
                    span{
                        font-weight: bold;
                    }
                }
            }
        }

        &-right{
            width: 50%;
            padding: 0 50px;
            margin-bottom: 24px;

            &-button{
                margin-left: auto;
                width: fit-content;
            }
        }
    }
}