.menu-manager{
    &__filter{
        display: flex;
        margin: 24px 0;

        &-create-new{
            margin-left: auto;
        }
    }
    &__popup{

        &-header{
            height: 30px;
            display: flex;
        }
    }
    
}

