.staff-manager {
    height: 100%;

    &__filter {
        display: flex;
        margin-bottom: 24px;
        width: 100%;
        &-code{
            width: 30%;
            margin-right: 20px;     
        }
        &-name{
            width: 30%;
            margin-right: 20px;     
        }
        &-position{
            text-align: left;
            width: 30%;
            &-lable{
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: bold;
            }
            &-select{
                width: 100%;
                background-color: antiquewhite;
            }
        }
    
    }
    &__button{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        &-search {
            margin-right: 20px;
        }
        &-create-new {
        }
        &-position{
            margin-right: 20px;
        }
    }

    &__content{
        height: calc(100% - 150px);
    }
    &__popup{
        &-sex-lable{
            font-size: 16px;
            font-weight: bold;
        }
        &-position-lable{
            font-size: 16px;
            font-weight: bold;
        }
        &-position-select{
            width: 100%;
            background-color: aqua;
        }
    }
}

.hidden-id {

    display: none;
}