.pay-manager {
  height: 100%;

  &__area {
    width: 300px;
    background-color: white;
    padding: 8px;

    &-name {
      font-weight: bold;
      text-align: left;
      margin-bottom: 8px;
      margin-top: 5px;
    }
    &-table {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 8px;
      border-bottom-style: groove;
      padding-bottom: 10px;

      &-name {
        border-style: outset;
        border-radius: 5px;
        cursor: pointer;
        width: 65px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__bill {
    width: calc(100% - 300px);
  }
}
