.container-input{
    margin-bottom: 24px;
    &__label{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: left;
    }

    .ant-input-affix-wrapper{
        width: 100%;
        height: 36px;
        outline: none;
        padding: 0 8px;
    }

    &__mess{
        text-align: left;
        color: red;
    }
}