.popup-container{
    border-radius: 8px;
    max-height: calc(100vh - 100px);

    .ant-modal-content{
        height: 100%;

        .ant-modal-body{
            height: calc(100vh - 55px - 165px);
        }

        .ant-modal-footer{
            padding: 0 24px;
        }
    }
}